@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-slate-950 text-white antialiased;
}

.glass-panel {
  @apply bg-white/10 border border-white/10 backdrop-blur-2xl rounded-2xl shadow-xl;
}


